Options +FollowSymLinks -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENANE} !-f
#RewriteRule ^(.+)$ index.php?url=$1 [L,QSA]

#RewriteRule ^(login|logout|profile)$ /$1.php [R=301,L]
RewriteRule ^([0-9A-Za-z-]+)/?$ /index.php?url=$1 [L,QSA]
